@use './util/themes.scss' as t;
@use './util/_mixins.scss' as m;
@use './util/_responsive.scss' as r;

#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    h2{
        span{
            color: t.$complimentary-light;
        }
    }

    h3{
        color: t.$accent2-dark;
        font-size: 25px;
    }
}

.card {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    background-color: t.$darker-bg-light;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: map-get(r.$breakpoints,md)) {
        max-width: 600px;
    }

}
.sign-up-button {
    width: 100%;
    height: 3em;
    max-width: 500px;
    margin: 0 auto;
    @include m.primaryButton;
}

.form {
    padding: 0 2rem 2rem 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.contact_heading{
    @include m.sectionHeadings('contact');
    margin-bottom: 1em;
}